/* main section */

main {
    width: 100vw;
    height: fit-content;
}


/* subsections */

main>section {
    padding-block: 50px 160px;
}


/* about section */

main section.about {
    background: var(--color-bg-primary);
    width: 100%;
    height: fit-content;
    padding-block: 160px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}


/*  */

main section.about .container {
    display: flex;
    flex-direction: column;
    gap: 160px;
}


/* 1+ */

main section.about .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}


/*  */

main section.about .content article {
    display: flex;
    gap: 40px;
}

main section.about .content article>h2 {
    max-width: 600px;
}

main section.about .content article>p {
    flex: 1;
}


/*  */

main section.about .or {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

main section.about .or>img {
    z-index: 10;
}

main section.about .or>div {
    /* padding: 64px 32px; */
    /* border: 10px solid var(--color-accent); */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

main section.about .or .or-div {
    padding: 64px 32px;
    /* border: 10px solid #FD002E90; */
    z-index: 10;
}

main section.about .or .circ {
    position: absolute;
    z-index: 0;
}

main section.about .or .circ div>div>div {
    aspect-ratio: 2/3;
    width: 400px;
    border: 10px solid #FD002E50;
}

main section.about .or .circ div>div {
    width: fit-content;
    height: fit-content;
    padding: 50px;
    border: 10px solid #FD002E30;
}

main section.about .or .circ div {
    width: fit-content;
    height: fit-content;
    padding: 50px;
    border: 10px solid #FD002E10;
}

main section.about .or>div p {
    font-size: 48px;
    color: var(--color-accent);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}


/* why us section */

main section.why-us {
    position: relative;
    width: 100%;
    height: fit-content;
    background: linear-gradient(to top, var(--color-bg-primary), var(--color-bg-secondary));
}

main section.why-us .wraper {
    position: relative;
    height: 350vh;
    /* padding: 10em 16em; */
    padding: 10em 0em;
}

main section.why-us .wraper .content {
    padding-top: 80px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

main section.why-us .wraper .content>div {
    z-index: 1;
    width: 100%;
    position: relative;
}

main section.why-us .wraper .content .titles {
    width: 100vw;
    padding-top: 10vh;
    padding-bottom: 2.5vh;
    /* background: #fff1; */
    height: 200px;
}

main section.why-us .wraper .content .titles>h2 {
    width: 600px;
    position: absolute;
    left: calc(50% * var(--i));
    transform: translate(-50%);
    text-align: center;
}

main section.why-us .wraper .cards {
    display: block;
    height: 300px;
    padding-top: 20px;
}

main section.why-us .wraper .cards .card {
    background: #fff7;
    color: #000;
    max-width: 600px;
    height: 300px;
    border-radius: 12px;
    padding: 0px 32px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    /*  */
    perspective-origin: 50% 0;
    transform: scale3d(1none, 1none, 1none);
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    width: 100%;
    /*  */
    margin-bottom: 20px;
    transition: transform 100ms cubic-bezier(.215, .61, .355, 1);
}

main section.why-us .wraper .cards .card .icon {
    width: 150px;
    height: 150px;
    /* height: 100%; */
    background: #fff;
    border-radius: 9999px;
    display: grid;
    place-content: center;
}


/* main section.why-us .wraper .cards .card:nth-child(2) .icon{
    background: dodgerblue;
}

main section.why-us .wraper .cards .card:nth-child(3) .icon{
    background: #6d4bbb;
} */

main section.why-us .wraper .cards .card .icon img {
    width: 90%;
    aspect-ratio: 1/1;
}

main section.why-us .wraper .cards .card p {
    flex: 1;
}


/* our programs section */

main section.our-programs {
    position: relative;
    width: 100vw;
    height: fit-content;
    background: var(--color-bg-secondary);
    background: linear-gradient(to bottom, var(--color-bg-secondary), var(--color-bg-primary));
    overflow-x: hidden;
}

main section.our-programs .container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

main section.our-programs .container .content {
    position: relative;
    width: 1000px;
    padding: 0px 32px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
}

main section.our-programs .container .content .typography {
    height: fit-content;
    width: 600px;
    border: 0.5px solid var(--color-text-primary);
    display: flex;
    flex-direction: column;
}

main section.our-programs .container .content .typography>div {
    padding: 160px 64px;
    border-bottom: 0.25px solid var(--color-text-primary);
    height: 600px;
    width: 100%;
}

main section.our-programs .container .content .typography>div h2 {
    padding-bottom: 32px;
}

main section.our-programs .container .content .typography>div small {
    max-width: 300px;
    display: inline-block;
}

main section.our-programs .container .content .wrapper {
    position: relative;
    padding-top: 40px;
}

main section.our-programs .container .content .wrapper .img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 400px;
    height: 500px;
    clip-path: polygon( 0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 100%);
    transition: clip-path 0.3s linear;
}

main section.our-programs .container .content .wrapper .img img {
    filter: brightness(0.8);
}


/* our supporters */

main section.our-supporters {
    width: 100vw;
    height: fit-content;
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    /* background: var(--color-bg-secondary); */
    background: linear-gradient(to top, var(--color-bg-primary), var(--color-bg-secondary));
}

main section.our-supporters .logos {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
}

main section.our-supporters .logos:hover main section.our-supporters .logos .logos-slider {
    animation-play-state: paused;
}

main section.our-supporters .logos .logos-slider {
    display: inline-block;
    animation: 32s slide linear infinite;
}

main section.our-supporters .logos .logos-slider>div {
    display: inline-block;
}

main section.our-supporters .logos .logos-slider>div>div {
    width: auto;
    margin-inline: 80px;
    text-transform: capitalize;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

main section.our-supporters .logos .logos-slider>div .number {
    font-size: 100px;
    font-weight: bold;
}

main section.our-supporters .logos .logos-slider img {
    height: 50px;
    width: auto;
    margin-inline: 80px;
}


/* feedback */

main section.feedback {
    width: 100vw;
    height: fit-content;
    /* background: var(--color-bg-secondary); */
    background: linear-gradient(to top, var(--color-bg-primary), var(--color-bg-secondary));
}

main section.feedback .container {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

main section.feedback .container .cards {
    max-width: 1120px;
    /* max-height: 300px; */
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
}

main section.feedback .container .cards .card {
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    /* background: var(--to-create, #0004); */
    border-radius: 12px;
    overflow: hidden;
    padding: 32px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    transition-property: flex;
    transition-duration: 100ms;
}

main section.feedback .container .cards .card:hover {
    transform: scale(1.1);
    /* box-shadow: 0 8px 32px -16px var(--color-text-primary); */
}

main section.feedback .container .cards .card .head {
    display: flex;
    align-items: center;
    gap: 16px;
}

main section.feedback .container .cards .card .head figcaption {
    flex: 1;
}

main section.feedback .container .cards .card .head figcaption small {
    color: var(--color-text-primary);
}

main section.feedback .container .cards .card .head .img {
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 9999px;
    overflow: hidden;
}

main section.feedback .container .cards .card .typography {
    /* padding: 24px; */
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

main section.feedback .container .cards .card.img-only {
    max-width: 200px;
}

main section.feedback .container .cards .card.img-only .head figcaption small,
main section.feedback .container .cards .card.img-only .typography {
    display: none;
}

main section.feedback .container .dots {
    position: relative;
    width: 100;
    display: flex;
    gap: 32px;
    justify-content: center;
}

main section.feedback .container .dots>div {
    width: 24px;
    height: 24px;
    background: var(--color-secondary);
    border-radius: 9999px;
    cursor: pointer;
}

main section.feedback .container .dots>div.active {
    background: var(--color-accent);
}

main section.faq {
    /* background: var(--color-bg-secondary); */
    background: linear-gradient(to top, var(--color-bg-primary), var(--color-bg-secondary));
}

main section.faq .container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

main section.faq .container .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main section.faq .container .content .btn-cube_container {
    display: flex;
    flex-direction: column;
    gap: 128px;
}

main section.faq .container .content .qna {
    max-width: 600px;
    padding-inline: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main section.faq .container .content .qna::before,
main section.faq .container .content .qna::after {
    opacity: 0.4;
}

main section.faq .container .content .qna>div {
    /* background:#0002; */
    padding-block: 32px;
    border-bottom: 1px solid #fff;
}

main section.faq .container .content .qna>div:last-child {
    border: none;
}

main section.faq .container .content .qna label {
    margin-bottom: 16px;
    cursor: inherit;
    display: flex;
    gap: 32px;
    color: var(--color-text-primary);
}

main section.faq .container .content .qna label p:first-child {
    font-weight: 500;
    font-size: 20px;
    flex: 1;
}

main section.faq .container .content .qna label p:last-child {
    color: var(--color-text-primary);
    border-radius: 9999px;
    background: var(--color-bg-primary);
    width: 32px;
    height: 32px;
    font-weight: bold;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
    /* flex: 1; */
    display: grid;
    place-content: center;
}

main section.faq .container .content .qna input[type="radio"] {
    display: none;
}

main section.faq .container .content .answer {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

main section.faq .container .content .qna input[type="radio"]:checked~.answer {
    padding: 16px;
    height: fit-content;
    box-shadow: none;
    opacity: 1;
    border: 0.1px solid var(--color-text-primary);
    border-radius: 12px;
}

main section.faq .container .content .qna input[type="radio"]:checked~label p:last-child {
    transform: rotate(45deg);
}


/* latest article */

main section.latest-articles {
    width: 100vw;
    background: var(--color-bg-secondary);
}

main section.latest-articles .container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

main section.latest-articles .articles {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

main section.latest-articles .articles .card {
    min-width: 300px;
    flex: 1;
    padding: 12px;
    border-radius: 32px;
    /* border: 1px solid var(--color-text-primary); */
}

main section.latest-articles .articles .card.active {
    border: 1px solid var(--color-text-primary);
}

main section.latest-articles .articles .card .img {
    aspect-ratio: 3/2;
    border-radius: 32px;
    overflow: hidden;
}

main section.latest-articles .articles .card .typography {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

main section.latest-articles .articles .card .typography .blog-title {}

main section.latest-articles .articles .card .typography .additional-information {
    display: flex;
    justify-content: space-between;
}

main section.contact {
    width: 100vw;
    height: fit-content;
    background: linear-gradient(to top, var(--color-bg-secondary), var(--color-bg-primary));
}

main section.contact .container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

main section.contact .container .content {
    display: flex;
    gap: 64px;
}

main section.contact .container .content .ill-3d {
    flex: 1;
}

main section.contact .container .content form {
    flex: 1;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

main section.contact .container .content form label {
    flex: 1;
}

main section.contact .container .content form label input {
    display: block;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-text-primary);
    padding: 12px 0px;
}

main section.contact .container .content form label input,
main section.contact .container .content form label textarea {
    display: block;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-text-primary);
    padding: 12px 0px;
}

main section.contact .container .content form label input:focus {
    padding-inline: 32px;
}

main section.contact .container .content form label textarea {
    border: 1px solid var(--color-text-primary);
    margin-top: 8px;
    border-radius: 8px;
    padding-inline: 32px;
}

main section.contact .container .content form .textarea {
    grid-column: span 2;
}


/* Set flex direction to column for containers below 1120px */

@media (max-width: 1120px) {
    /* main section.about .container,
  main section.our-programs .container,
  main section.our-supporters .logos .logos-slider>div,
  main section.latest-articles .articles,
  main section.contact .container .content {
    flex-direction: column;
  } */
    /* Adjust padding or margins for smaller screens */
    main section.about .container,
    main section.why-us .wraper .content .titles,
    main section.our-programs .container .content,
    main section.our-programs .container .content .typography,
    main section.our-programs .container .content .wrapper,
    main section.our-supporters .logos,
    main section.latest-articles .articles,
    main section.contact .container .content {
        padding: 0 20px;
        /* Adjust padding as needed */
    }
    main section.our-programs .container .content .typography>div,
    main section.our-programs .container .content .wrapper .img {
        /* width: 100%; */
        /* Adjust width for smaller screens */
    }
    main section.our-programs .container .content .wrapper .img {
        width: 100vw;
    }
    main section,
    footer {
        padding-inline: 32px;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    main section.about .content article {
        flex-direction: column !important;
    }
    main section.faq .container .content {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    main section.contact .container .content {
        flex-direction: column;
    }
    .faq .cube-container {
        display: none;
    }
}

@media (max-width: 850px) {
    main section.our-programs .container .content .wrapper .img {
        display: none;
    }
}