.color-tester {
    color: #312871;
}

@font-face {
    font-family: "lato";
    src: url('../assets/fonts/Lato-Regular.ttf');
}


/* defaults */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: "lato";
    box-sizing: border-box;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

:root {
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    --color-opacity-1: #0001;
    --color-bg-primary: #000;
    /* 0c1013 */
    --color-bg-secondary: #0c1013;
    /* #11051C, 1E293B, 0c1118 */
    --color-accent: #6d4bbb;
    /* #FD002E, 6d4bbb */
    --color-secondary: #E1D7C6;
    /* F9CF64 */
    --color-text-primary: #f0f5fa;
    /* --size-xsmall: 4px; */
}

a {
    text-decoration: none;
    color: var(--color-text-primary);
}

li {
    list-style: none;
}

button {
    border: none;
    text-transform: capitalize;
    width: fit-content;
    height: fit-content;
    padding: 16px 64px;
    cursor: pointer;
    border-radius: 9999px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    cursor: none;
    cursor: url('../assets/icons/cursor/mouse-pointer-svgrepo-comgrad3.svg'), auto;
}


/* constants */

h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 130%;
}

h2 {
    font-size: 48px;
    line-height: 120%;
    font-weight: bold;
}

p {
    line-height: 160%;
    font-weight: normal;
    /* font-size: 18px; */
}

input {
    font-size: 1rem;
}

input::placeholder {
    color: var(--color-text-primary);
}

.logo {
    color: var(--color-accent);
    /* color: #000; */
    -webkit-text-stroke: 0.2px var(--color-text-primary);
    font-size: 32px;
    font-weight: bold;
}

.container {
    margin-inline: auto;
    width: 100%;
    max-width: 1120px;
}

.btn {
    padding: 16px 64px;
    padding: 16px 32px;
    border-radius: 9999px;
}

.btn-primary {
    background: var(--color-accent);
    color: var(--undecided, #fff);
}

.btn-secondary {
    background: none;
    border: 2px solid var(--color-text-primary);
    color: var(--color-text-primary);
}

.title {
    letter-spacing: 2px;
    font-weight: bold;
}

.overlay {
    margin-inline: auto;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    position: fixed;
    inset: 0;
    /* transform: scale(0); */
    height: 0;
    /* opacity: 0; */
    display: grid;
    place-content: center;
    z-index: 9999999999999999;
    background: var(--color-bg-primary);
    /* background: red; */
    color: var(--color-text-primary);
}


/* header section */

header {
    background-image: url('../assets/imgs/unsplash_smgTvepind4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    width: 100%;
    height: 100svh;
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
}


/*  */

header .hero {
    position: relative;
    inset: 0;
    width: 100%;
    height: 100%;
    padding-block: 32px;
    background: linear-gradient(to bottom, transparent, var(--color-bg-primary));
}


/*  */

header .hero nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}

header .hero nav.mobile {
    display: none;
}

header .hero nav.fixed {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: unset;
    padding: 16px 0;
    border-radius: unset;
    z-index: 9999;
}

header .hero nav.fixed .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* stat */

header .hero .themes {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    overflow: hidden;
    /* gap: 2px; */
}

header .themes>p {
    color: #fff;
    background: #ffffff10;
    padding: 12px;
}

header .hero .themes>button {
    color: #fff;
    background: none;
    width: 100%;
    padding: 12px;
}


/* statend */

header .hero nav .logo {
    width: 64px;
    height: 64px;
    border-radius: 9999px;
    overflow: hidden;
}

header .hero .hero-content {
    width: 100%;
    height: 100%;
    display: flex;
    /* gap: 4vmax; */
    align-items: center;
    justify-content: space-between;
}


/*  */

header .hero nav ul {
    padding: 0px 32px;
    display: flex;
    gap: 32px;
    overflow: visible;
}

header .hero nav ul li {
    padding: 16px;
    height: 100%;
}

header .hero nav ul a {
    color: #000;
}

header .hero nav ul li.active a {
    /* background: var(--color-accent); */
    /* color: white; */
    /* border: 1px solid #000; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 12px;
    border-radius: 32px;
}

header .hero nav ul li:hover a {
    /* background: var(--color-accent); */
    /* color: white; */
    /* border: 1px solid #000; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 12px;
    border-radius: 32px;
}

header .hero nav .socials {
    display: flex;
    align-items: center;
    gap: 16px;
}

header .hero nav .socials>div {
    width: 32px;
    aspect-ratio: 1/1;
}

header .hero nav .rightmost {
    height: 100%;
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

header .hero nav .rightmost .drop_down {
    height: 0;
    opacity: 0;
    pointer-events: none;
    min-width: 300px;
    position: absolute;
    top: 75px;
    right: 0px;
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    transition: height 0.3s ease, opacity 0.3s ease;
}

header .hero nav .rightmost.withdropdown:hover .drop_down,
header .hero nav .rightmost>.drop_down:hover {
    height: auto;
    opacity: 1;
    pointer-events: auto;
}

header .hero nav .rightmost .drop_down .profile {
    margin-inline: auto;
    width: 100px;
    height: 100px;
}

header .hero nav .rightmost .drop_down a {
    color: #fff;
    white-space: nowrap;
}

header .hero nav .rightmost .drop_down a:last-child {
    border-top: 1px solid #fff;
    padding-top: 12px;
}

header .hero nav .profile {
    width: 64px;
    height: 64px;
    border-radius: 9999px;
    /* overflow: hidden; */
    color: var(--color-text-primary);
    /* background: var(--color-bg-primary); */
    font-weight: bold;
    display: grid;
    place-content: center;
}

header .hero nav .profile img {
    aspect-ratio: 1/1;
}

header .hero nav .profile p {
    font-size: 32px;
}

header .hero nav .profile img {
    /* filter: contrast(0%); */
}

header .hero .hero-content .left {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 88px;
}

header .hero .hero-content .floater {
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-end;
}

header .hero .hero-content .floater.fixed {
    position: fixed;
    top: 32px;
}

header .hero .hero-content .floater form {
    /* position: relative; */
    width: fit-content;
    height: fit-content;
}

header .hero .hero-content .floater form input {
    width: 400px;
    width: 0;
    opacity: 0;
    border: none;
    color: #fff;
    padding: 24px 32px;
}

header .hero .hero-content .floater form .img {
    width: 64px;
    aspect-ratio: 1/1;
    cursor: pointer;
    filter: contrast(0%);
    /* position: absolute;
    right: 12px;
    top: 50%;
    transform: translateX(-50%);
    z-index: 3; */
}

header .hero .hero-content .floater .themes {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    overflow: hidden;
    /* gap: 2px; */
}

header .hero .hero-content .themes>p {
    color: #000;
    background: #ffffff10;
    padding: 12px;
}

header .hero .hero-content .themes>button {
    color: #000;
    background: none;
    width: 100%;
    padding: 12px;
}


/*  */

header .hero .hero-content .left .dots {
    display: flex;
    align-items: center;
    gap: 16px;
}

header .hero .hero-content .left .dots>div {
    width: 10px;
    height: 10px;
    border-radius: 9999px;
    background: #ffffff60;
}

header .hero .hero-content .left .dots>div.current {
    background: #fff;
}


/* footer */

footer {
    width: 100vw;
    height: fit-content;
    background: var(--color-bg-primary);
    padding-block: 64px;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 64px;
}

footer .container section.links {
    grid-column: span 2;
    display: flex;
    /* gap: 64px; */
    /* justify-content: space-between; */
}

footer .container section.links ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer .container section.links ul p:first-child {
    padding-bottom: 8px;
    font-weight: 600;
}

footer .container section.subscribe {
    grid-column: span 3;
}

footer .container section.subscribe form {
    width: 100%;
    height: fit-content;
    margin-top: 32px;
    overflow: hidden;
    display: flex;
    border: none;
}

footer .container section.subscribe form input {
    border: none;
}

footer .container section.subscribe form input[type="email"] {
    padding-left: 32px;
    height: 70px;
    height: 60px;
    outline: none;
    background: none;
    flex: 1;
}

footer .container section.subscribe form input[type="submit"] {
    padding: unset;
    padding-inline: 24px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    /* background: none; */
    display: flex;
}

@media (prefers-color-scheme: light) {
     :root {
        --color-bg-primary: #87CEEB;
        --color-bg-secondary: #E6E6E6;
        /* #11051C */
        --color-accent: #FF6F61;
        /* #FD002E */
        --color-text-primary: #333333;
        /* --color-secondary: #FFFF00; */
    }
    header .hero .hero-content .floater form .img {
        border: 2px solid red;
        filter: unset;
    }
}

@media (max-width: 1120px) {
    header .hero nav {
        display: none;
        padding-inline: 32px;
    }
    header .hero nav.mobile {
        display: flex;
    }
    header .hero nav.mobile .menu {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-inline: 32px;
    }
    header .hero nav.mobile .menu ul {
        display: none;
        position: absolute;
        text-wrap: nowrap;
        width: fit-content;
        top: 70px;
    }
    header .hero .hero-content {
        padding-inline: 32px;
    }
    header .hero .hero-content {
        padding-inline: 32px;
        /* flex-direction: column; */
    }
    header .hero .hero-content .right {
        display: none;
    }
    footer .container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 850px) {
    header .hero nav.fixed {
        display: none !important;
    }
    header .floater {
        display: none !important;
    }
}